<h1>Agregar matricula y alumnos:</h1>
<form class="" action="/alumnos/create" method="post">
  <label for="">matricula</label>
  <input type="text" name="Alumnos[matricula]" value="">
  <label for="">nombre</label>
  <input type="text" name="Alumnos[nombre]" value="">
  <label for="">materia</label>
  <input type="text" name="Alumnos[materia]" value="">
  <label for="">calificacion</label>
  <input type="number" name="Alumnos[calificacion]" value="">
  <input type="submit" value="enviar">
</form>
